<p>
  <strong>
    <%= comment.commenter %> : 
  </strong>
  <%= comment.body %>
</p>
<button>
  <%= link_to 'Destroy Comment', 
    [comment.article, comment], # array=>nested route (/articles/:article_id/comments/:id)
    method: :delete,
    data: { confirm: "Are you sure?" } 
  %>
</button>