<div class="text-center">
  <div>
    <% if @user.avatar.attached? %>
      <%= image_tag @user.avatar, class:"rounded-circle img-thumbnail", width:"200px" %>
    <% end %>
  </div>
  <h3>
    @<%= @user.name %>
  </h3>
  <% if @current_user.id == @user.id %>
    <%= link_to "Edit", edit_user_path(@user), class:"btn btn-primary" %>
  <% end %>
</div>
