<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to "Home", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
      <div class="navbar-nav ml-auto">
      <% if logged_in? %>
        <%= link_to "Logout", logout_path, class: "mx-2", method: :delete%>
      <% else %>
        <%= link_to "Sign Up", new_user_path, class: "mx-2" %>
        <%= link_to "Sign In", login_path, class: "mx-2" %>
      <% end %>
      </div>
    </div>
  </div>
</nav>